@page "/QuestionManagement"
@using Authentication.web.Shared.Questions
<div class="container">
    <EditForm Model="@model" >
        <DataAnnotationsValidator />
        <MudGrid @ref="@MainGrid">
            <MudItem xs="12" sm="6">
                <MudTextField T="string" Label="texte de question" Required="true" Lines="3" RequiredError="le texte est obligatoire!" @bind-Value="model.questionText" />
            </MudItem>
            <MudItem xs="12" sm="6">
                <MudSelect T="string" Label="Type de question" AnchorOrigin="Origin.BottomCenter" @bind-Value="model.type">
                    <MudSelectItem Value="@("Choix Multiple")" />
                    <MudSelectItem Value="@("Vrai/Faux")" />
                    <MudSelectItem Value="@("Codage")" />
                </MudSelect>
            </MudItem>
            <MudItem xs="12" sm="12">
                    <h3>choix</h3>
                    @if (model.type == "Choix Multiple")
                    {
                        <MudItem xs="12" sm="6">
                            <MultiCheckQ data="model"/>
                        </MudItem>
                    }
                    else if (model.type == "Vrai/Faux")
                    {

                        <MudItem xs="12" sm="6">
<<<<<<< Updated upstream
                           @* @foreach (var component in _propositionsList)
                                @component *@          
                                <MultiCheckQ ></MultiCheckQ>
                            </MudItem>

                        <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" Label="novelle proposition" OnClick="OnAddProposition<MultiCheckQ>" />
                    }
                    else if (selectedOption == "Vrai/Faux")
                    {

                        <MudItem xs="12" sm="6">
                           @* @foreach (var component in _propositionsList)
                                @component*@
                                <True_FalseQ></True_FalseQ>
                            </MudItem>

                        <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" Label="novelle proposition" OnClick="OnAddProposition<True_FalseQ>" />
=======
                            <True_FalseQ />
                        </MudItem>
>>>>>>> Stashed changes

                    }
                    else if (model.type == "Codage")
                    {
                        <MudItem xs="12" sm="6">
                            <CodingQ />
                        </MudItem>
<<<<<<< Updated upstream

                    }

                </MudCard>
=======
                    }   
>>>>>>> Stashed changes
            </MudItem>
        </MudGrid>
    </EditForm>
</div>


