@page "/QuestionManagement"
@using Authentication.web.Shared.Questions
<div class="container">
    <EditForm Model="@model" OnValidSubmit="OnValidSubmit">
        <DataAnnotationsValidator />
        <MudGrid>
            <MudItem xs="12" sm="6">
                <MudTextField T="string" Label="texte de question" Required="true" Lines="3" RequiredError="le texte est obligatoire!" @bind-Value="TextValue" />
            </MudItem>
            <MudItem xs="12" sm="6">
                <MudSelect T="string" Label="Type de question" AnchorOrigin="Origin.BottomCenter" @bind-Value="selectedOption" SelectedValuesChanged="OnSelectedValueChanged">
                    <MudSelectItem Value="@("Choix Multiple")" />
                    <MudSelectItem Value="@("Vrai/Faux")" />
                    <MudSelectItem Value="@("Codage")" />
                </MudSelect>
            </MudItem>
            <MudItem xs="12" sm="12">
                <MudCard>
                    <h3>choix</h3>
                    @if (selectedOption == "Choix Multiple")
                    {

                        <MudItem xs="12" sm="6">
                            @foreach (var component in _propositionsList)
                                @component

                            </MudItem>

                        <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" Label="novelle proposition" OnClick="OnAddProposition<MultiCheckQ>" />
                    }
                    else if (selectedOption == "Vrai/Faux")
                    {

                        <MudItem xs="12" sm="6">
                            @foreach (var component in _propositionsList)
                                @component




                            </MudItem>

                        <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" Label="novelle proposition" OnClick="OnAddProposition<True_FalseQ>" />

                    }
                    else if (selectedOption == "Codage")
                    {
                        <MudItem xs="12" sm="6">
                            <CodingQ />
                        </MudItem>

                    }


                </MudCard>
            </MudItem>
        </MudGrid>
    </EditForm>
</div>


