@using QuizApp.Entities.Conception_Entities.DTO.Quiz_DTO;
@inject IQuizService quizService ;

<MudNavGroup Title="Créer nouveau Quiz" Expanded="true">
    <MudCarousel Class="mud-width-full" Style="height:200px;" ShowArrows="true" ShowBullets="false" EnableSwipeGesture="false" AutoCycle="false" TData="object" ArrowsPosition="Position.Bottom">
        <MudCarouselItem Transition="Transition.Slide">
            <MudInputLabel>titre Quiz</MudInputLabel>
            <MudTextField @bind-Value="TitreValue" Label="Titre" Variant="Variant.Text"></MudTextField>
        </MudCarouselItem>
        <MudCarouselItem Transition="Transition.Slide">
            <MudInputLabel>Description</MudInputLabel>
           <MudTextField T="string" Label="Description" Variant="Variant.Outlined" @bind-Value="DescriptionValue" Lines="3" />
        </MudCarouselItem>
        <MudCarouselItem Transition="Transition.Slide">
            <MudInputLabel>Niveau Test</MudInputLabel>
            <MudRadioGroup @bind-SelectedOption="@SelectedOption" style="display: grid;">
                <MudRadio Size="Size.Small" Option="@("1")"><p style="font-size:small">Debutant</p></MudRadio>
                <MudRadio Size="Size.Small" Option="@("2")"><p style="font-size:small">Moyen</p></MudRadio>
                <MudRadio Size="Size.Small" Option="@("3")"><p style="font-size:small">avancé</p></MudRadio>
                <MudRadio Size="Size.Small" Option="@("4")"><p style="font-size:small">Expert</p></MudRadio>
            </MudRadioGroup>
        </MudCarouselItem>
        <MudCarouselItem Transition="Transition.Slide">
            <MudInputLabel>Durée Quiz</MudInputLabel>
            <MudNumericField @bind-Value="duree" Label="Entrer la durée de test" Variant="Variant.Outlined" />
        </MudCarouselItem>
        <MudCarouselItem Transition="Transition.Slide">
            <MudInputLabel>Enregistrer</MudInputLabel>
            <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Save" Color="Color.Info" Size="Size.Small" OnClick="SaveQuiz">Save</MudButton>
            <MudButton Variant="Variant.Filled"  Color="Color.Secondary" Size="Size.Small">reset</MudButton>
        </MudCarouselItem>
    </MudCarousel>
</MudNavGroup>

@code {
    public string SelectedOption { get; set; }
    public int duree { get; set; }
    public string TitreValue { get; set; }
    public string DescriptionValue { get; set; }


    private async void SaveQuiz()
    {
        CreationQuizDTO quiz = new CreationQuizDTO();
        quiz.titre = TitreValue;
        quiz.description = DescriptionValue;
        quiz.duree_quiz = duree;
        quiz.niv_deficulte =Int32.Parse(SelectedOption);

        await quizService.CreateQuiz(quiz);

    }
}
